@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #f7f1f1;
  --color-foreground: #171717;
}

.dark {
  --color-background: #171717;
  --color-foreground: #f7f1f1;
}

@layer components {
  .pannel {
    @apply bg-background text-foreground;
  }

  .btn {
    @apply px-4 py-2 bg-slate-300 rounded-md;
  }
}
